EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=zaygo.app@gmail.com
EMAIL_HOST_PASSWORD=vnxb nvtl rwnq lrmm
DEFAULT_FROM_EMAIL=zaygo.app@gmail.com
FIXED_OTP_CODE=123456
APP_STATUS_UPDATE_ENABLED=true
APP_STATUS_UPDATE_FORCE_UPDATE=true

 
MAX_ACTIVE_ORDERS_PER_DRIVER=2
