EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=zaygo.app@gmail.com
EMAIL_HOST_PASSWORD=vnxb nvtl rwnq lrmm
DEFAULT_FROM_EMAIL=zaygo.app@gmail.com
DATABASE_URL=postgresql://postgres:your_postgres_password@127.0.0.1:5432/mr_delivery
DB_NAME=mr_delivery
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_HOST=127.0.0.1
DB_PORT=5432
FIXED_OTP_CODE=
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_WHATSAPP_OTP_CONTENT_SID=your_twilio_content_sid
TWILIO_VERIFY_SERVICE_SID=
APP_STATUS_UPDATE_ENABLED=true
APP_STATUS_UPDATE_FORCE_UPDATE=true

 
MAX_ACTIVE_ORDERS_PER_DRIVER=2
