# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
migrations/
!shop/migrations/
shop/migrations/*
!shop/migrations/0014_driver_presence_real_time.py
!shop/migrations/0015_notification_inbox_fields.py
!shop/migrations/0016_customer_email_and_driver_notification_fields.py
!shop/migrations/__init__.py
!shop/migrations/0009_driver_chat_backend.py
!shop/migrations/0009_customer_support_chat.py
!user/migrations/
user/migrations/*
!user/migrations/__init__.py
!user/migrations/0003_admindesktopuser.py
# Static files
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
